* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background: #ffffff;
    color: #111;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e2e8f0;
    background-color: #16390A;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.btn-primary {
    background: #22C55E;
    padding: 10px 18px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}

.btn-outline {
    padding: 10px 18px;
    border-radius: 6px;
    border: 1px solid #cfcfcf;
    text-decoration: none;
    color: #111;
}

.hero {
    text-align: center;
    margin-top: 80px;
    padding: 0 20px;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.hero p {
    max-width: 550px;
    margin: 0 auto 25px;
    color: #444;
}

.hero-buttons a {
    margin: 0 10px;
}

.features {
    text-align: center;
    margin-top: 90px;
}

.features h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.feature-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.feature-card {
    width: 280px;
    padding: 25px;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
    text-align: left;
    background: white;
}

.icon {
    font-size: 30px;
    color: #16390A;
    margin-bottom: 10px;
}

.feature-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.feature-card p {
    font-size: 13px;
    color: #555;
}

.footer {
    width: 100%;
    height: 200px;
    background: #16390A;
    margin-top: auto;
}

@media (max-width: 768px) {
    .header {
        padding: 20px;
    }

    .nav a {
        margin-left: 15px;
    }

    .hero h1 {
        font-size: 26px;
    }

    .feature-grid {
        flex-direction: column;
        align-items: center;
    }

    .brand-logo {
        font-size: 1.8rem;
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-align: center;
        margin-bottom: 40px;
    }

    .brand-logo img {
        max-width: 100px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}